networks:
  hanikamu-service-network:
    driver: bridge
services:
  app:
    build: .
    environment:
      HISTFILE: /app/tmp/shell_history
    volumes:
      - .:/app
    networks:
      - hanikamu-service-network
